body{
    margin:0;
    padding: 0;
}

.mapboxgl-ctrl-logo {
    display: none !important;
}

#mapbox {
    position: absolute; 
    top: 0; 
    bottom: 0; 
    width: 100%;
    z-index:-1;
}

*:focus { outline: none; }

.map{
    background-color:rgb(239, 248, 250);
    width:100%;
    height:100vh;
    border:5px;
    z-index:1;
    position: absolute;
}

.button-container .slide {
    top:10px;
    left:10px;
    z-index:0;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
}

.button-container a {
    color:black;
}


.button-container .close {
    top:10px;
    left:365px;
    z-index:2;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
}

.forecast-container{
    float:left;
    font-family: 'Montserrat', sans-serif;
    width: 350px;
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    z-index:1;
    position: relative;
    height:100vh;
    overflow:auto;
    padding-left: 20px;   
    padding-right: 20px;    
 
}

.forecast-container::-webkit-scrollbar {
    display: none;
  }
  
.forecast-container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.forecast-container h1{
    font-size: 23px;
    font-weight: 600;   
    text-align: center;
    padding-top:10px;
}

.forecast-container h2{
    font-size: 18px;
    font-weight: 300;   
    text-align: center;
}

.forecast-container h3 {
    font-size: 11px;
    font-weight: 300;   
    text-transform: uppercase;
    padding-left: 5px;
}

.clr{
    clear:both;
}

/* #current-main {
    float:left;
    width:60%;
    background-color: rgb(240, 240, 240);
    margin:2px;
}

#current-main h3{
    float:left;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right:0px;
    box-sizing:border-box;
}

#current-main #waveHeight{
    font-size: 15px;
}

#current-main #windDir{
    font-size: 10px;
}

#current-main #tide{
    font-size: 10px;
}

#current-swell {
    float:left;
    width:60%;
    background-color: rgb(240, 240, 240);
    margin:2px;
}

#current-swell h3{
    font-size: 12px;
}

#current-tide {
    float:left;
    width:50%;
    background-color: rgb(240, 240, 240);
    margin:2px;
}

#current-tide h3 {
    font-size: 9px;
    float:left;
    width:50%;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right:0px;
    box-sizing:border-box;
}

#current-weather {
    float:left;
    width:50%;
    background-color: rgb(240, 240, 240);
    margin:2px;

    box-sizing:border-box;

} */

.data-body{
    height:200px;
    background-color: rgb(240, 240, 240);
    margin:auto;

}

.current-container{
    display:grid;
    grid-template-columns:3fr 6fr; 
    grid-auto-rows:minmax(0px, auto);
    grid-gap:.2em;
    align-items:start;
}

#current1{
    background-color: rgb(240, 240, 240);
}

#current1 #waveHeight{
    font-size: 15px;
}

#current1 #windDir{
    font-size: 10px;
}

#current1 #tide{
    font-size: 10px;
}

#current2{
    background-color: rgb(240, 240, 240);
    align-self: stretch;
}

#current2 h3{
    font-size: 11px;
}

#current3{
    background-color: rgb(240, 240, 240);
    grid-column:1/3;
}
#current3 h3 {
    font-size: 9px;
    float:left;
    width:50%;
    box-sizing:border-box;
}

#current4{
    background-color: rgb(240, 240, 240);
    grid-column:1/3;
}

#current4 h3{
    font-size: 9px;
    float:left;
    width:33.3%;
    box-sizing:border-box;
}

[id^='current'] h3 {
    margin-top:7px;
    margin-bottom:7px;
}
